<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Assignment2</title>
</head>
<body>
<h2>Students table</h2>
<form action="/students" method="post">
    {% csrf_token %}
    <button type="submit">+ Add records from csv</button>
</form>
<table>
    <thead>
        <tr>
        <th>student id</th>
        <th>student name</th>
        <th>student score</th>
        <th>student county</th>
    </tr>
    </thead>
{% for student in Students %}
    <tr>
        <td>{{ student.studentID }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.score }}</td>
        <td>{{ student.county }}</td>
    </tr>
{% endfor %}
</table>
<h2>Professors table</h2>
<form action="/professors" method="post">
    {% csrf_token %}
    <button type="submit">+ Add records from csv</button>
</form>
<table>
    <thead>
        <tr>
        <th>professor facultyID</th>
        <th>professor name</th>
        <th>professor age</th>
        <th>professor county</th>
    </tr>
    </thead>
{% for professor in Professors %}
    <tr>
        <td>{{ professor.facultyID }}</td>
        <td>{{ professor.name }}</td>
        <td>{{ professor.age }}</td>
        <td>{{ professor.county }}</td>
    </tr>
{% endfor %}
</table>
<h2>Counties table</h2>
<form action="/counties" method="post">
    {% csrf_token %}
    <button type="submit">+ Add records from csv</button>
</form>
<table>
    <thead>
        <tr>
        <th>county name</th>
        <th>county population</th>
        <th>county city</th>
    </tr>
    </thead>
{% for county in Counties %}
    <tr>
        <td>{{ county.countyName }}</td>
        <td>{{ county.population }}</td>
        <td>{{ county.city }}</td>
    </tr>
{% endfor %}
</table>
<h2>COVID table</h2>
<form action="/covid" method="post">
    {% csrf_token %}
    <button type="submit">+ Add records from csv</button>
</form>
<table>
    <thead>
        <tr>
        <th>COVID patientID</th>
        <th>COVID city</th>
    </tr>
    </thead>
{% for covidInfo in COVID %}
    <tr>
        <td>{{ covidInfo.patientID }}</td>
        <td>{{ covidInfo.city }}</td>
    </tr>
{% endfor %}
</table>
<br>
<br>
<h2>Query #1:</h2>
<table>
    <thead>
        <tr>
            <th>countyName</th>
            <th>averageScore</th>
    </tr>
    </thead>
{% for i in output1 %}
    <tr>
        <td>{{ i.countyName }}</td>
        <td>{{ i.score }}</td>
    </tr>
{% endfor %}
</table>

<h2>Query #2:</h2>
<table>
    <thead>
        <tr>
            <th>cityName</th>
            <th>averageScore</th>
    </tr>
    </thead>
{% for i in output2 %}
    <tr>
        <td>{{ i.cityName }}</td>
        <td>{{ i.score }}</td>
    </tr>
{% endfor %}
</table>

<h2>Query #3:</h2>
<table>
    <thead>
        <tr>
            <th>professorName</th>
            <th>studentName</th>
    </tr>
    </thead>
{% for i in output3 %}
    <tr>
        <td>{{ i.profName }}</td>
        <td>{{ i.name }}</td>
    </tr>
{% endfor %}
</table>

<h2>Query #4:</h2>
<table>
    <thead>
        <tr>
            <th>professorName</th>
            <th>studentName</th>
    </tr>
    </thead>
{% for i in output4 %}
    <tr>
        <td>{{ i.profName }}</td>
        <td>{{ i.name }}</td>
    </tr>
{% endfor %}
</table>

<h2>Query #5:</h2>
<table>
    <thead>
        <tr>
            <th>studentName</th>
            <th>cityName</th>
    </tr>
    </thead>
{% for i in output5 %}
    <tr>
        <td>{{ i.name }}</td>
        <td>{{ i.city }}</td>
    </tr>
{% endfor %}
</table>
<style>
    h2 {
        text-align: center;
    }
    form {
        text-align: center;
        margin-bottom: 10px;
    }
    button {
        background-color: green;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 12px;
    }
    table {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border: 4px solid;
    }
    tr {
        text-align: center;
    }
    td {
        text-align: center;
        border: 1px solid;
    }
</style>
</body>
</html>